<!doctype html>
<head>
  <title>Kanban</title>
  <link rel="stylesheet" href="public/css/h5bp.css">
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  
  <header></header>

  <button id="addcard">Add Card</button>

  <div role="main">
    <div class="column">
      <div class="lane-header">Ready</div>
      <div class="lane" id="ready"></div>
    </div>
    <div class="column">
      <div class="lane-header">Doing</div>
      <div class="lane" id="doing"></div>
    </div>
    <div class="column">
      <div class="lane-header">Done</div>
      <div class="lane" id="done"></div>
    </div>
  </div>

  <footer>Drag and drop Kanban cards between columns.</footer>
  
  <script id="card-template" type="text/html">
    <div id="card-<%= cid %>" class="card" data-order="<%= order %>"><%= title %></div>
  </script>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script>
    $(function() {
      $(".lane").sortable({
        connectWith: ".lane"
      });
      $( ".lane" ).disableSelection();
    });
  </script>
  <script src="public/javascripts/underscore.js"></script>
  <script src="public/javascripts/backbone.js"></script>
  <script src="public/javascripts/kanban.js"></script>
  <script src="public/javascripts/kanban-core.js"></script>
  <script src="public/javascripts/kanban-views.js"></script>
  <script src="public/javascripts/app.js"></script>
</body>
</html>